:root {
  --primary: #6c63ff;
  --neutral: #f9f7fe;
  --text-primary: #000000;
  --text-secondary: #272142;
  --font-family-primary: "Playfair Display", serif;
  --font-family-secondary: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-secondary);
  font-family: var(--font-family-secondary);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary);
  font-family: var(--font-family-primary);
}

a {
  color: var(--primary);
  transition: all ease 0.5s;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

hr {
  width: 4%;
  border: 1px solid var(--primary);
  opacity: 0.3;
}

.hero {
  background-color: var(--neutral);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: calc(100vh - 100px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-descr {
  text-align: center;
  margin-bottom: 32px;
}

.hero-descr h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 128px;
  letter-spacing: 0em;
  margin-bottom: 16px;
}

.hero-descr span {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
}

.hero-descr p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}

.btn-custom {
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  transition: all ease 0.3s;
}

.btn-custom:hover {
  opacity: 0.9;
}

.btn-custom-xl {
  padding: 18px 48px;
  font-size: 18px;
  line-height: 27px;
}

.btn-custom-md {
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
}

.btn-primary-custom {
  color: #fff;
  background: var(--primary);
}

.btn-primary-custom:hover {
  color: #fff;
}

.btn-custom-outline {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-custom-outline:hover {
  color: var(--primary);
}
.projects h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}

.projects p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}

p.subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.content {
  margin: 160px 0;
}

.content p {
  opacity: 0.78;
  line-height: 30px;
}

.content-title {
  margin-bottom: 106px;
}

.rounded {
  border-radius: 0.55rem !important;
}
.project-card {
  text-align: center;
  margin-bottom: 32px;
}

.project-card img {
  margin-bottom: 16px;
}

.project-card h2 {
  font-family: var(--font-family-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 12px;
}

.project-card p {
  font-size: 14px;
  line-height: 21px;
}

.contact-block {
  margin-bottom: 32px;
}

.contact-block h2 {
  font-family: var(--font-family-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.contact-block a {
  color: var(--primary);
  font-weight: 700;
}

.navbar-custom {
  background-color: var(--neutral);
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-custom .navbar-nav .nav-link:focus,
.navbar-custom .navbar-nav .nav-link:hover {
  color: var(--primary);
}

.navbar-custom .navbar-toggler {
  color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
}

.navbar-brand img {
  width: 200px;
}

.contact-cta {
  background-color: var(--neutral);
  padding: 32px 10%;
}
.contact-cta h3 {
  font-size: 48px;
  font-weight: 700;
}

footer {
  margin: 56px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary);
  background: var(--neutral);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary);
}

.custom-switch {
  padding: 7px;
  margin-left: 40px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--primary);
  background-color: var(--primary);
}

.dark-mode {
  background-color: #2b2b34;
  color: white;
}
.dark-mode .navbar-custom,
.dark-mode .hero,
.dark-mode .contact-cta {
  background-color: #1b1b23;
}

.dark-mode footer .email-link {
  color: white;
}

.dark-mode .navbar-brand path {
  fill: white;
}
.dark-mode .navbar-nav .active > .nav-link,
.dark-mode .navbar-nav .nav-link.active,
.dark-mode .navbar-nav .nav-link.show,
.dark-mode .navbar-nav .show > .nav-link {
  color: white;
}

.dark-mode .navbar-nav .nav-link {
  color: white;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5 {
  color: #ffffff;
}

@media (max-width: 768px) {
  .hero-descr h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 12px;
  }

  h1 {
    font-size: 44px;
    line-height: 55px;
  }

  .content {
    margin: 80px 0;
  }

  .hero-descr span {
    font-size: 24px;
    line-height: 32px;
  }

  .content-title {
    margin-bottom: 56px;
  }

  .hero-descr p {
    font-size: 18px;
    line-height: 24px;
  }

  .btn-custom {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px;
  }

  .projects h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }
  .contact-block h2 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}
